<div class="col-12 content">
    
    <div class="container">
        <div class="img-container">
            <img src="./webroot/img/background_01_bg.png">
        </div>

        <div class="text-container">
            <span>Todos seus amigos podem ser null, null pointer exception ou unifind... Se no nullbank</span>
        </div>

    </div>

    <div class="container">
        <div class="text-container">
            <span>Todos seus amigos podem ser null, null pointer exception ou unifind... Se no nullbank</span>
        </div>
        <div class="img-container">
            <img src="./webroot/img/background.png">
        </div>
    </div>

</div>